<div class="drop-image-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="!fileUploaded">
  <ngx-file-drop dropZoneLabel="Drop your image here" (onFileDrop)="dropped($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <div id="upload-image">
        <h2>Drop your image here</h2>
        <div id="open-image">
          or
          <button mat-stroked-button color="accent" [disabled]="uploadingInProgress"
                  type="button" (click)="openFileSelector()">Browse Files
          </button>
        </div>
      </div>
    </ng-template>
  </ngx-file-drop>
</div>

<div *ngIf="fileUploaded && imageUrl !== null" id="upload-image-wrapper">
  <img #uploaded src="{{imageUrl.url}}" id="uploaded-image">
</div>

<h2 id="watermarking-probability" *ngIf="similarity != null">Watermarked with {{similarity}} % probability!</h2>

<div fxLayoutAlign="center center">
  <button mat-stroked-button color="accent" id="verify-button" [disabled]="imageUrl == null"
          type="button" (click)="verifyImage()" *ngIf="similarity == null">Verify image
  </button>
</div>

