<div class="drop-image-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <ngx-file-drop dropZoneLabel="Drop your image here" (onFileDrop)="dropped($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <div id="upload-image">
        <h2>Drop your image here</h2>
        <div id="open-image">
          or
          <button mat-stroked-button color="accent"
                  type="button" (click)="openFileSelector()">Browse Files
          </button>
        </div>
      </div>
    </ng-template>
  </ngx-file-drop>

</div>
