<router-outlet></router-outlet>
<mat-toolbar color="primary" class="app-header">
<!--  <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div>-->
  <div>Watermarking Application</div>
  <span class="navbar-spacer"></span>
  <span class="nav-tool-items">
    <a mat-button routerLink="upload" routerLinkActive="active">Upload</a>
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
